PORT=3000
SESSION_SECRET="please-change-this"

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="<username>"
DATABASE_PASSWORD="<password>"
DATABASE_NAME="clubhouse"

# Use DATABASE_URL if using a connection string
# DATABASE_URL="postgresql://<username>:<password>@<database_host>/<database_name>"
