.logo {
  img {
    width: 4.5rem;
    height: auto;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Sniglet", sans-serif;
  color: #800080;
  margin: 1rem;
}
